table{
 height: 100px;
  width: 300px;
}


#artboard{
 margin-left: 250px;
 margin-top: 50px;

}


.cell {
  height: 40px;
  width: 40px;
  border: solid black 1px;
  display: inline-block;
  border-radius: 45px;

}

.cell2{
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 5px;
  border: solid black 1px;
}